html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #2980b9, #6dd5fa, #ffffff);
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.main-img {
  display: flex;
  justify-content: center;
}

.main-img img {
  margin-top: 85px;
  border-radius: 10px;
  height: 400px;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  height: 70px;
}

.main button {
  background-color: rgb(77, 77, 252);
  text-decoration: none;
  border-radius: 10px;
  color: white;
}
.main a {
  color: whitesmoke;
  text-decoration: none;
}

.test-button {
  margin-top: 36px;
  width: 250px;
  height: 65px;
}

.article-button {
  margin-top: 25px;
  width: 200px;
  height: 65px;
}
